*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .hero{
  Width:72px;
  Height:40px;
  margin-top: 40px;
  margin-left: 140px;
  color: #0D233D;
  font-family: "outfit";
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  align-items: center;

 }
 .sun{
    width: 63px;
    height: 16px;
    margin-top: 24px;
    margin-left: 20px;
    font-family: "outfit";
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
 }
 .loop{
    border: 1px solid #c9c9c9;
    width: 304px;
    height: 40px;
    margin-left: 20px;
    
 }
 .june>button{
    color: #fff;
    width: 304px;
    height: 40px;
    margin-top: 45px;
    margin-left: 24px;
    border-radius: 5px;
    background-color:#EE095B;
 }
 .may{
    width: 97px;
    height: 16px;
    margin-top: 25px;
    margin-left: 128px;
    font-family: "outfit";
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color:#EE095B;

 }